<div id="<%= dom_id task %>">
  <p>
    <strong>
      <%= form_with(model: task) do |form| %>
      <%= form.check_box :status, :class=> "check_box"%>
      <% end %><%= task.title %>
      
    </strong>
  </p>

</div>
