/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

/*index tasks*/
.title__index__tasks{
    color: rgb(253, 232, 232);
}

.link__show__task, .link__new__task{
    color: white;
}


.tasks__index__scope{
    height: 100vh;
}

.task{
    display: flex;
    flex-direction: row;
}

#tasks{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 24px
}

.title__task{
    font-size: 24px;
}

.new__task{
    margin-top: 40px;
    margin-left: 35vw;
}

.delete__button{
    background-image: url(/ToDo_List/app/assets/images/delete.png);
}

/* TASKSSHOW */
.tasks__show{
    background-color: rgb(165, 165, 165);
    height: 100vh;
    font-size: 24px;
    padding-top: 150px;
    padding-left: 100px;
}

.show__edit__button, .show__back__buttton{
    text-decoration: none;
    color: rgb(26, 14, 0);
}

.show__delete__button{
    background-color: rgb(236, 214, 195);
    font-size: 18px;
    border-radius: 6px;
    border: 5px;
}

/*USERS*/

/*Login Users*/
.user__sessions__new, .user__registrations__new{
    background-color: azure;
    height: 100vh;
    padding-left: 600px;
    padding-top: 25vh;
}
.user__sessions__new input , .user__registrations__new input{
   height: 40px;
   border-radius: 8px;
   border-style: groove;
}

/*Todos os campos(e-mail, usuário, senha) de login e de cadastro são afetados por essa configuração*/
.field input{
    padding: 10px;
}
/*Titulos da=s páginas de login(sign_in) e cadastro(sign_up)*/
.login, .cadastro{
    font-family: 'Courier New', Courier, monospace;
}

.login__button,  .sign_up__button{
    width: 205px;
    margin-bottom: 20px;
}

/*Class do campo do botão de sign_up(users/registrations/new...)*/
.actions{
    padding-top: 20px;
}

